{{title this.model.title}}

<section>
  <h1>{{this.model.title}}</h1>
  <a href={{this.model.url}}><img src={{this.model.image}} alt=""></a>
  <p>{{this.model.desc}}</p>
  <p><a href={{this.model.url}}>{{this.model.urltext}}</a></p>
  <p><a href={{this.model.src}}>View Source Code</a></p>
</section>